
<!-- <div class="container">  -->

<div class = "row" id="home">
      <div class = "col-md-12">
        <h1 class="heading">Mary Keenan</h1>
        <br>
        <h2 class="subhead">Education Technologist and Developer</h2>
        <br>
        <br>
        <br>
        <a href="#about"><span class = "glyphicon glyphicon-chevron-down"></span></a>
      </div>
</div>  
<div class ="row" id="about">
  <div class="col-md-4">
    <br>
    <img src="assets/3f55a74.jpeg" class="img-responsive" style: "border: 4px solid black" alt="Responsive image">
  </div>
  <div class="col-md-8">
    <h1 class="subhead">About</h1>
    <br>
    Bilingual education technology executive and entrepreneur. Experience includes extensive work in education management and operations, instructional design, e-learning development and Fortune 500 consulting. Recent graduate from General Assembly Web Development Immersive course specializing in Ruby on Rails, JavaScript, AngularJS, HTML5, CSS3, PostgreSQL, and MongoDB. Focuses on innovating traditional approaches to education. Passionate about early language acquisition, blended learning and augmented reality.
  </div>
</div>

<div id="projects">
  <br>
  <br>
  <h1 class="subhead">Portfolio</h1>
  <br>
	<div class="row portfolio">
	    <div class="tilt pic col-md-3">
	        <a href="http://lcm.firebaseapp.com"><img src="assets/lcm.png"/></a>
	    </div>
	    <div class="col-md-3">
	        <a href="http://smilestones.herokuapp.com"><img class="tilt pic" src="assets/smilestones.png" /></a>
	    </div>
	    <div class="col-md-3">
	        <a href="http://luxelist.herokuapp.com"><img class="tilt pic" src="assets/luxelist.png" /></a>
	    </div>
	    <div class="col-md-3">
	        <a href="http://walkabee.herokuapp.com"><img class="tilt pic" src="assets/walkabee.png" /></a>
	    </div>
	</div>
</div>
    
<a href="http://www.freepik.com/free-vector/polygon-abstract-vector-backgrounds_723181.htm" style="fontsize: 10px"><p>Header image designed by Freepik</p></a>
